.main_container{
    display: flex;
    justify-content: space-between;
}
.left-sidebar{
    background: #ffffff;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
}
.right-sidebar{
    background: #ffffff;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 100vh;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}
header{
    background-color: #ffffff;
}

#logo {
    margin-right: 200px;
}