*{
    box-sizing: border-box;
}
.login_btn{
    justify-content: center;
    width: 120px;
    height: 40px;
}
.main-content{
    flex-basis: 38%;
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 33%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color:aqua;
    font-size: 14px;
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(../images/pet1.jpg);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(../images/shorts1.jpg);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)),url(../images/pet2.jpeg);
}

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    color: #626262;
    border: 0.4em inset #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    height: 35px;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    display:inline-block;
    width: 100%;
    height: fit-content;
    background: #adb5bd;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px auto;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
#post_button{
    width: 68px;
    height: 40px;
    font-size: 16px;
    margin-left: auto;
}
.input_group{
    display: inline-block;
    margin: 5px auto;
    float:right;
}
.form-control{
    width:100%;
    height:auto
}

footer {
    background: #7fa5c9;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: #fcfeff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-bottom {
    background:rgb(3, 3, 3);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color:#fff;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.reply_container{
    margin-left: 40px;
}
#reply_content_box{
    width: 60%;
    float:left;
    margin-left: 10px;
}
.reply_input{
    width:100%;
    float:right
}
.reply_input input{
    display: inline-block;
    width: 60%;
    margin-left: 10px;
}
.reply_input button{
    margin-left: 10px;
}
.shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 600;
    font-size: 16px;
}
#form_image{
    width: 100%;
    height: 30px;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.event {
    display: flex;
    font-size: 12px;
    margin-bottom: 20px;
}
.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: rgba(99, 151, 252, 1);
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #003399;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
p.thick{
    font-weight: bold;
    font-size: 14px;
}