.mainSection{
    float:left;
    height: auto;
    width: 70%;
    position: relative;
}
#post_box {
    display:flex;
    flex-direction: column;
}
.post_area{
    justify-content: center;
    margin-top:10px;
    width:80%;
    height:200px;
}
.box{
    position: relative;
    height: auto;
    width: auto;
}
.left_box{
    float: left;
    height: 1000px;
    width: 15%;
    position: relative;
    background-color: #09C;
}
.right_box{
    float: right;
    height: 1000px;
    width: 15%;
    position: relative;
    background-color: #3C0;
}
.login_btn{
    justify-content: center;
    width: 120px;
    height: 40px;
}