#join_form, #login_form{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
}
.form{
  display: flex;
  flex-direction: column;
}
.form_title{
  text-align: center;
}
#join_user_id{
  width:200px
}
#user_id_check_btn{
  float:right;
  height:100%;
  margin-left: 10px;
}
.form_button button{
  float:right
}
#join_button{
  margin-left: 5px;
}