<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../static/style/index.css" rel="stylesheet">
    <link href="../../static/style/modal.css" rel="stylesheet">
    <link href="../../static/style/header.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
	integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
	crossorigin="anonymous"></script>
    <title>6Zipsa</title>
</head>
<body>

<!-- 헤더 -->
{% include "components/header.html" %}
<div class="main_container">
        <!-----------------left-sidebar-------------------->
        <div class="left-sidebar">
        </div>
        <!-----------------main content-------------------->
        <div class="main-content">

            <div class="story-gallery">
                <div class="story story1">
                </div>
                <div class="story story2">
                </div>
                <div class="story story3">
                </div>
            </div>
            <div class="write-post-container">
                {% if status == 'login' %}
                <div class="user-profile">
                    <img src="../static/images/user.png">
                    <div>
                        <p>{{user_id}}</p>
                    </div>
                </div>
                {% else %}
                <div class="user-profile">
                    <img src="../static/images/user.png">
                    <div>
                        <p>아이디</p>
                    </div>
                </div>
                {% endif %}

                <div class="post-input-container">
                    {% if status == 'login' %}  <!--유저의 로그인 상태(조건) -->
                    <textarea rows="3" placeholder="오늘의 반려동물 자랑을 해보세요" id="post_area" style="min-height:33px" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
                    <div class="add-post-links">
                        <div id="image_input_box">
                            <form method="post" action="/api/upload" id="upload_form" enctype="multipart/form-data">
                                <input class="form-control form-control-sm" type="file" id="form_image" name="file" accept="image/*">
                            </form>
                        </div>
                        <button type="button" class="btn btn-outline-info" id="post_button">작성</button>
                    </div>
                    {% else %} <!--유저의 로그아웃 상태(조건) -->
                    <textarea rows="3" placeholder="로그인이 필요합니다" readonly></textarea>
                    {% endif %}
                </div>
            </div>
            {% for i in range(0, posts|length) %}   <!--모든 글 목록(반복) -->
            <div class="post-container">
                <div class="user-profile">
                    <img src="../static/images/user.png">
                    <div>
                        <p>{{posts[i][1]}}</p>      <!--i번째 글의 2번째(아이디) -->
                        <span>{{posts[i][3]}}</span><!--i번째 글의 4번째(글 작성 시간) -->
                    </div>
                </div>
                <textarea class="form-control" id="{{posts[i][0]}}" readonly style="height:100%;">{{posts[i][2]}}</textarea> <!--i번째 글의 3번째(글 내용) -->
                {% if user_id == posts[i][1] %}     <!--글쓴 아이디가 로그인한 유저면(조건) -->
                <div class="input_group">
                    <button type="button" class="btn btn-outline-success" id="confirm_button{{posts[i][0]}}" onclick="modify_check()" hidden>확인</button>
                    <button type="button" name="{{posts[i][0]}}" class="btn btn-outline-info" id="modify_button">수정</button>
                    <button type="button" name="{{posts[i][0]}}" class="btn btn-outline-danger" id="delete_button">삭제</button>
                </div>
                {% endif %}
                <button type="button" id="reply_toggle" class="{{posts[i][0]}}">▼</button>
                <div class="reply_container{{posts[i][0]}}" style="display:none">
                    {% for j in range(0, replies|length) %} <!--모든 댓글 목록(반복) -->
                    {% if replies[j][1] == posts[i][0] %}   <!--답글의 post_id가 현재 달릴 글의 post_id와 같을때(조건) -->
                    <div class="user-profile">
                        <img src="../static/images/user.png">
                    <div>
                        <p>{{replies[j][2]}}</p>        <!--i번째 댓글의 3번째(아이디) -->
                        <span>{{replies[j][4]}}</span>  <!--i번째 댓글의 5번째(댓글 날짜) -->
                    </div>
                        <input type="text" id="reply_content_box" class="form-control" style="display: inline-block" value="{{replies[j][3]}}" readonly />
                                                                                                                    <!--i번째 댓글의 4번째(댓글내용) -->
                    </div>
                    {% endif %}
                    {% endfor %}
                    <hr>
                    {% if status == 'login' %}          <!--댓글은 로그인한 유저만 쓸수 있다. -->
                    <div class="reply_input">
                        <div class="user-profile" styler="display:inline-block">
                            <img src="../static/images/user.png">
                                <div>
                                    <p>아이디</p>
                                    <span>날짜</span>
                                </div>
                            <input class="form-control" id="reply_text{{posts[i][0]}}" name="replyText" type="text" placeholder="답글">
                            <button class="btn btn-primary btn-sm" name="{{posts[i][0]}}" id="reply_button" type="button">작성</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}


        </div>
        <!-----------------right-sidebar-------------------->
        <div class="right-sidebar">
            <div class="shortcut-links">
        <p>About Us</p>
        <a href="https://gstack.tistory.com/"><img src="../static/images/GJH.jpg"> 길재형</a>
        <a href="#"><img src="../images/user.png"> 김규태</a>
        <a href="https://velog.io/@pos2tives"><img src="../static/images/KEJ.PNG"> 김은정</a>
        <a href="https://velog.io/@lee129you"><img src="../static/images/LSI.png"> 이설인</a>
        <a href="https://velog.io/@wnals0513"><img src="../static/images/JMS.png"> 주민석</a>
    </div>
        </div>
    </div>
{% include "components/footer.html" %}
{% block content %}
{% endblock %}
</body>
<script type="text/javascript"src="../../static/js/date.js"></script>
<script type="text/javascript"src="../../static/js/index.js"></script>
<script type="text/javascript" src="../../static/js/modal.js"></script>
<script type="text/javascript" src="../../static/js/preview.js"></script>
</html>