<header class="p-3 text-bg-dark">
    <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="get" action="/posts/search" id="search_form">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="검색..." name="search_input" aria-label="Search" id="search_input">
                </form>

                <div class="text-end">
                    {% if status == 'logout' %}
                    <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/page/login'">Login</button>
                    {% elif status == 'login' %}
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if pet_image == 'no image' %}
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        {% else %}
                        <img src={{pet_image[0]}} alt="mdo" width="50" height="50" class="rounded-circle">
                        {% endif %}
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="/page/profile">마이페이지</a></li>
                            <li><a class="dropdown-item" href="#">환경설정</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/page/logout">로그아웃</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
          </div>
    </div>
  </header>