<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../static/style/join.css" rel="stylesheet">
    <link href="../../static/style/modal.css" rel="stylesheet">
    <link href="../../static/style/header.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
{% include "components/header.html" %}
  <!-- Sign Up -->
  <div class="container">
    <form class="form">
      <h2 class="form_title">회원 가입</h2>
      <div>
          <input type="text" placeholder="아이디" name="user_id" id="join_user_id" class="item" /><button type="button" id="user_id_check_btn">확인</button>
      </div><br>
      <input type="password" placeholder="비밀번호" name="password" id="join_password" class="item" /><br>
      <input type="password" placeholder="비밀번호 확인" id="join_password_chk" class="item" /><br>
      <input type="email" placeholder="이메일" name="email" id="join_email" class="item" /><br>
      <button class="btn" type="button" onclick="join()">회원 가입</button>
    </form>
  </div>
{% block content %}
    {% endblock %}
</body>
<script type="text/javascript" src="../../static/js/modal.js"></script>
<script type="text/javascript" src="../../static/js/validate.js"></script>
<script>
    let clicked = 0
    let id_check = false
    function join(){
        let user_id = $('#join_user_id').val()
        let password = $('#join_password').val()
        let password_chk = $('#join_password_chk').val()
        let email = $('#join_email').val()
        if(user_id === '' || password === '' || email === ''){
            modalOpen('칸이 비어있습니다.')
            return
        }
        if(password != password_chk){
            modalOpen('비밀번호가 일치하지 않습니다.')
            return
        }
        if(!id_check){
            modalOpen('아이디 중복체크를 해주세요.')
            return
        }
        $.ajax({
            type : "POST",
            url : "/join",
            data : {'id_give': user_id, 'pw_give': password, 'em_give': email},
            success : function (response){
                let result = response['msg']
                if(result === 'join_ok'){
                    clicked = 1
                    modalOpen('회원가입 완료')
                    id_check = false
                }
            }
        })
    }
    $(document).on('click', '#user_id_check_btn', function(){
        let user_id = $('#join_user_id').val()
        check_id(user_id, '/check_id')
    })
</script>
</html>