{% if component_name == 'logout' %}
{% extends '/components/login.html' %}
{% elif component_name == 'signup' %}
{% extends '/components/signup.html' %}
{% elif index == 'home' %}
{% extends '/index.html' %}
{% endif %}

{% block content %}
<div id="modal" class="modal-overlay">
    <div class="modal-window">
        <div class="title">
            <h2>알림</h2>
        </div>
        <div class="close-area" id="closeBtn">X</div>
        <div class="content">
            <p id="context"></p>
        </div>
        <button id="modalClose" type="button">확인</button>
    </div>
</div>
{% endblock %}