<ul class="nav nav-pills flex-column mb-auto" id="menu">
    <li class="nav-item">
          <a href="/page/profile" class="nav-link active" id="menu1" aria-current="page" onclick="active_menu()">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            회원정보 수정
          </a>
    </li>
    <li>
          <a href="#" class="nav-link link-dark" id="menu2" onclick="active_menu()">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            내 글 보기
          </a>
    </li>
    <li>
          <a href="#" class="nav-link link-dark" id="menu3" onclick="active_menu()">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            설정
          </a>
    </li>
</ul>