<ul class="nav nav-pills flex-column mb-auto">
    {% if toggle == 'user' %}
    <li class="nav-item">
          <a href="/page/profile/user" class="nav-link active">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            회원정보 수정
          </a>
    </li>
    <li class="nav-item">
          <a href="/page/profile/post?page=1" class="nav-link link-dark">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            내 글 보기
          </a>
    </li>
    {% else %}
    <li class="nav-item">
          <a href="/page/profile/user" class="nav-link link-dark">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            회원정보 수정
          </a>
    </li>
    <li class="nav-item">
          <a href="/page/profile/post?page=1" class="nav-link active">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            내 글 보기
          </a>
    </li>
    {% endif %}
</ul>